body {
    background: url("back.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center 100%;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#board {
    margin: 1em;
    background-color: #ffffff;
    opacity: 0.1;
    border-radius: .4em;
    height: 90%;
}

@font-face {
    font-family: Fallout;
    src: url(fonts/fallout_type.ttf);
}

.desc {
    padding: 5em;
    font-size: 14px;
    font-family: Fallout;
}
.desc button {
    display: inline-block;
    text-decoration: none;
    font: bold 14px/14px HelveticaNeue, Arial;
    padding: 8px 11px;
    color: #555;
    border: 1px solid #dedede;
    border-radius: 3px;
}

.desc button:hover {
    cursor: pointer;
}